## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="core">
    <div class="row clearfix">
    <div class="col-md-12 column" id="login-header">
       <a href="/"><img src="static/img/Nebraska_N.png" class="navbar-icon"></a>
       <a href="/"><h3>HOME</h3></a>
       <h2>UNIVERSITY OF NEBRASKA</h2>
    </div>
    </div>
    <div class="row clearfix" style="margin-top:30px">
        <div class="col-md-3 column"></div>
        <div class="col-md-6 column well">
            <form method='POST' role="form" class="form-signin"
% if url:
                action='login?url=${url | u}'
% elif dest:
                action='login?dest=${dest | u}'
% else:
                action='login'
% endif
            >
              <div class="form-group">
              <h2 class="form-signin-heading">Welcome to the Holland Computing Center User Portal <br/>Please sign in with your HCC credentials</h2>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input type="text" class="form-control" name="login" placeholder="Login" required autofocus>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <button class="btn btn-default blue" type="submit"><span class="glyphicon glyphicon-off"></span> Sign in</button>
                </div>
              </div>
% if errormsg:
              <div id="login-error">
                ${errormsg}
                For help, contact <a href="mailto:hcc-support@unl.edu">hcc-support@unl.edu</a>.
              </div>
% endif
            </form>
        </div>
        <div class="col-md-3 column"></div>
    </div>
    <div class="row clearfix" style="margin-top:30px">
        <div class="col-md-3 column"></div>
        <div class="col-md-6 column"><div id="forgot-password">Forgot your password?  <a href="reset">Click here to reset it</a></div></div>
        <div class="col-md-3 column"></div>
    </div>


</%block>
